    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         class="mat-expanson-style">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Lista de Chamada
            </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-stroked-button routerLink="/call-list" color="primary"> Mostrar Lista de Chamada </a>
    </mat-expansion-panel>