<router-outlet></router-outlet>
<mat-grid-list cols="1" rowHeight="20:1" style="margin-left: 0.8%; margin-right: 0.8%;">
  <mat-grid-tile>
    <mat-toolbar style="height: 100%;" color="primary">
      <span>Chamada Online</span>
      <span class="align-navbar-content-right"></span>
      <span>
        <button mat-raised-button color="primary" [matMenuTriggerFor]="afterMenu">
          Alan James &nbsp;&nbsp;| &nbsp;&nbsp; <i class="material-icons md-36">face</i>
        </button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
          <button (click)="onLogout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Sair</span>
          </button>
        </mat-menu>
      </span>
    </mat-toolbar>
  </mat-grid-tile>
</mat-grid-list>