<app-index>
    <div class="content-title">
        Participantes
    </div>
    <div class="content">
        <p>Participantes da Lista:</p>
        <ul>
            <table>
                <tr>
                    <th>Nome</th>
                    <th>Foto</th>
                    <th>Data</th>
                    <th>Presença</th>
                </tr>
                <tr  *ngFor = "let participant of participants">
                    <td> {{ participant }} </td>
                    <!--<td> <img [src]="urlImg"> </td>-->
                    <td>12/03/2020</td>
                    <td> Presente </td>
                </tr>
            </table>
        </ul>
    </div>
</app-index>



