    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         class="mat-expanson-style">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Responsável
            </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-stroked-button routerLink='/responsable' color="primary"> Mostrar Responsável </a>
    </mat-expansion-panel>   