  <router-outlet></router-outlet>
  <app-navbar></app-navbar>
  <table border="0" style="width: 98.8%; margin-top: 1%; margin-left: 0.6%; height: 80%;  table-layout: fixed;">
    <tr style="height: 15%; align-content: initial; vertical-align: top">
      <td rowspan="2" style="width: 15%">
        <mat-toolbar color="primary">
          <span> {{ title }} </span>
        </mat-toolbar>
        <app-sidenav></app-sidenav>
      </td>
      <td>
        <mat-toolbar color="primary">
          <span> 
            <ng-content select=".content-title"></ng-content> 
          </span>
        </mat-toolbar>
      </td>
    </tr>
    <tr style="vertical-align: top">
      <td>
        <ng-content select=".content"></ng-content> 
      </td>
    </tr>
  </table>
  
  
  
  
  