    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         class="mat-expanson-style">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Participante
            </mat-panel-title>
        </mat-expansion-panel-header>
        <a (opened)="panelOpenState = true" routerLink='/participant' mat-stroked-button  color="primary"> Listar Participantes </a> 
        <a (opened)="panelOpenState = true" routerLink='/participant' mat-stroked-button  color="primary"> Adicionar Participantes </a>     
        <!-- 
        <a mat-stroked-button routerLink="." color="primary" class="painel-link-style"> Listar    </a>
        <a mat-stroked-button routerLink="." color="primary" class="painel-link-style"> Adicionar </a>
        <a mat-stroked-button routerLink="." color="primary" class="painel-link-style"> Atualizar </a>
        <a mat-stroked-button routerLink="." color="primary" class="painel-link-style"> Excluir   </a>
        -->
    </mat-expansion-panel>