<app-index>
    <div class="content">
        <p>
            <b> Lista de chamada - </b> {{ callListTile }} 
        </p>
        <br>
        <div>
            Selecione uma lista: 
            <select>
                <option value="alert alert-success">Reunião de sábado</option>
                <option value="alert alert-warning">GF Quinta</option>
                <option value="alert alert-danger">Culto domingo</option>
                <option value="alert alert-info">EBD</option>
            </select>
        </div>
    </div>
</app-index>